body{
    min-width: 256px;
    min-height: 100vh;
    margin: 0;

    justify-content: space-between;
    align-items: stretch;
}

#header{
    background-color: blue;

    flex: 0 0 64px;
}

#content{
    background-color: yellow;

    flex: 1 0 auto;
}

table{
    background-color: white;

    box-sizing: content-box;
    width: 75vh;
    height: 75vh;
    border: var(--SmallSpacing) solid black;
    border-collapse: collapse;
    margin: var(--Medium1Spacing);
}

td{
    width: 33.3%;
    padding-top: 33.3%;
    border: var(--SmallSpacing) solid black;
}

#startMenu{
    height:100%;
    width:100%;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    display: inline-flex;
    overflow-x: hidden;
    transition: 0.5s;
    
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

#startMenu > div{
    background-color: yellow;

    width:50vw;
    height: 50vh;
}

/* misc. */
.flexCol{
    display: flex;
    flex-direction: column;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}


:root {
    --SmallSpacing: 8px;
    --Medium1Spacing: 16px;
    --Medium2Spacing: 24px;
    --Medium3Spacing: 32px;
    --Large1Spacing: 40px;
    --Large2Spacing: 48px;
}

.smallBtn{
    box-sizing: border-box;
    min-width: 96px;
    height: 32px;
    padding: 4px 8px;
    border: 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 24px;
}

.mediumBtn{
    box-sizing: border-box;
    min-width: 128px;
    height: 40px;
    padding: 8px 12px;
    border: 0px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}

.largeBtn{
    box-sizing: border-box;
    min-width: 128px;
    height: 48px;
    padding: 12px 16px;
    border: 0px;
    border-radius: 4px;
    font-size: 20px;
    line-height: 24px;
}